<%= render 'shared/nav' %>
<body class="login">
  <div id="circles">
    <div id = "circle2">
      <div id = "circle">

        <h2>Log in</h2>
        <% if flash[:notice] or flash[:alert] %>
          <% if flash[:notice] %>
           <p class='flash notice'>
            <%= flash[:notice] %>
           </p>
          <% else %>
         <p class='flash alert'>
            <%= flash[:alert] %>
         </p>
          <% end %>
        <% end %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>

        <% end %>
        <div id="rendered">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</body>
