
<h1> Show page for specific user </h1>
  <div>
  <p>Email: <%= @user.email %></p>
  <p>Upvotes: <%= @user.upvotes %></p>
  <p><%= link_to 'Games', game_path(@user.id) %></p>

  </div>

  <% @user.games.each do |game| %>
  <div>
    <p><%= game.title %>, </p>
    <%= game.description %>
    <% if current_user.id == game.user_id  %>
      <%= link_to "Delete", game_path(game.id), method: :delete %> 
      <%= link_to 'Edit', edit_game_path(game.id) %> 
    <% end %>
   
<% end %>