    <div class="back">
    <nav>
      <ul id="nav">
      <% if current_user %>
        <li>Signed in as <%= current_user.username || current_user.email %> | </li>
       <li><%= link_to "Home", root_path  %></li>
       <li><%= link_to "All Games", games_path  %></li>
        <li><%= link_to "My Games", user_games_path(current_user) %></li>
        <li><%= link_to "New Game", new_game_path  %></li>
        
        <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
         <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Home", root_path  %> | </li>
        <li><%= link_to "Sign Up", new_user_registration_path %> | </li>
        <li><%= link_to "Sign In", new_user_session_path %> | </li>
        <li><%= link_to "Sign in with Linkedin",user_omniauth_authorize_path(:linkedin) %></li>
        <li><%= link_to "Sign in with Facebook",user_omniauth_authorize_path(:facebook) %></li>
        <li><%= link_to "Sign in with Twitter",user_omniauth_authorize_path(:twitter) %></li>

      <% end %>
    </ul>
</nav>
</div>