    <nav>
      <% if current_user %>
        Signed in as <%= current_user.email %> | 
       <%= link_to "All Games", games_path  %>
       <%= link_to "All Users", users_path  %>

        <%= link_to "My Games", user_games_path(current_user) %>
        <%= link_to "New Game", new_game_path  %>
        
        <%= link_to "Edit Profile", edit_user_path(current_user) %>
         <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %> | 
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
</nav>